@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/index.css" />

<div class="row m-auto about p-5">
    <div class="container">
        <h2 class="text-center heading">ABOUT US</h2>
        <p class="follow">
            @ViewBag.AppSettings.AppName company's works in the sphere of MiniSwitch. We have legal registered in UK - c
            ompany number 11981579. The clients cooperating with us conclude the agreement on placement of
            the capitals then they draw interest from profit. Client does not need to think independently,
            which project investing in is more profitable. All strategy has already thought over and can be
            presented in the form of the step-by-step plan.
        </p>
        <br />
        <p class="follow">
            Each person knows importance of MiniSwitch of their savings. Money has to work. At the same
            time many projects are quite risky therefore MiniSwitchs into them are dangerous. The tethercoin.io
            company specializes in MiniSwitchs in a blockchain and the register. We see these directions the most
            profitable and perspective. Unlike cryptocurrencies, these industries have smaller risks for the investor.
        </p>

        <br />
        <br />

        <div class="row">
            <div class="jumboImage col-md-6 m-auto">
                <img src="~/assets/img/business.png" width="100%" alt="Increase capital Image" />
            </div>

            <div class="col-md-6">
                <h4 class="text-center heading">OUR BUSINESS</h4>
                <p class="follow">
                    The blockchain technology by means of which there is a consecutive data recording in a chain of blocks is
                    carried out the distributed storage of this information. The blockchain and bitcoin sometimes on the Internet
                    are called synonyms though actually it is not so. Blockchain is technology, and bitcoin is a product of this
                    technology.
                </p>
                <br />
                <p class="follow">
                    That's why we propose to invest in base of this project. Even if product is not successful the technology may
                    be reoriented to more modern and interesting project. Today we invest in the companies which work in the sphere
                    of the distributed register and a blockchain. Also, we cooperate with the corporations working on development
                    of the industry.
                </p>
            </div>
        </div>


        <br />
        <br />

        <h4 class="text-center heading">OUR TEAM</h4>
        <p class="follow">
            In our company there are experts with long-term experience. Professionals of the business understand the matter
            therefore they can guarantee good result. Employees of the company constantly monitor the market, check trends.
            Thanks to it they can minimize risks and provide high profit level. Our experts work on increase in skill level
            all the time, take courses and training's to remain high-level professionals.
        </p>
        <br />
        <p class="follow">
            By the way, if there are questions, our experts are always ready to explain in more detail the strategy of
            MiniSwitch, advantage of the direction, possible risks. It will help to present in more detail the forthcoming
            project, to understand nuances of receiving profit.
        </p>
    </div>
</div>
