@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />

<div class="row m-auto jumbo pt-5">
    <div class="m-auto col-md-6">
        <h3 class="jumboText">The easiest way to increase your capital</h3>
        <p class="follow">
            Worried about lack of <b>Stability</b>? At @ViewBag.AppSettings.AppName, we know how to safely increase your capital with minimal risks.
        </p>
    </div>
    <div class="jumboImage col-md-6 m-auto">
        <img src="~/assets/img/jumbo.png" width="100%" alt="Increase capital Image" />
    </div>
</div>
