@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/css/user.css" />

<div class="container">
    <h2 class="text-center heading mb-5">Dashboard</h2>
    <div class="row">
        <div class="col-md-8 shadow p-3 rounded">
            <h4>Wallets</h4>

        </div>
        <div class="col-md-4">
            <div class="shadow p-3 mb-3 rounded">
                <h4>Balance</h4>
                <h1>$500</h1>
            </div>
            <div class="shadow p-3 rounded">
                <h6>MiniSwitch Status</h6>
                <h4>Active</h4>
            </div>
        </div>
    </div>
</div>
