<div id="header" class="app-header">
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    <!-- BEGIN brand -->
    <div class="brand">
        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        @*<a href="#" class="brand-logo">
                <img src="~/assets/img/TD-Logo.png" alt="" height="50" />
            </a>*@
    </div>
    <!-- END brand -->
    <!-- BEGIN menu -->
    <div class="menu">
        <div class="menu-search">

        </div>
        @*<form class="menu-search" method="POST" name="header_search_form">
                <div class="menu-search-icon"><i class="fa fa-search"></i></div>
                <div class="menu-search-input">
                    <input type="text" class="form-control" placeholder="Search menu..." />
                </div>
            </form>*@
        <div class="menu-item dropdown">
            <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
                <div class="menu-img">
                    @*<img src="~/assets/img/user/user.jpg" alt="" class="mw-100 mh-100 rounded-circle" />*@
                    <i class="fa fa-user fa-fw ml-auto text-gray-400 w-100"></i>
                </div>
                <div class="menu-text">InvestorKayMoney@yahoo.com</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mr-lg-3">
                <a class="dropdown-item d-flex align-items-center menu-text" asp-controller="ProfileManagement" asp-action="Profile">Profile <i class="fa fa-wrench fa-fw ml-auto text-gray-400 f-s-16"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center menu-text" asp-controller="Account" asp-action="Logout">Log Out <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
            </div>
        </div>
    </div>
    <!-- END menu -->
</div>
