@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/auth.css" />

<div class="centerize">
    <div class="m-auto text-center col-md-5 my-auto">
        <h1>Forgot Password</h1>
        <p>Enter your email address</p>
        <p class="text-success">@ViewBag.Success</p>
        <p class="text-danger">@ViewBag.ErrorMsg</p>
        <form asp-controller="Auth" asp-action="ForgotPassword" asp-route-email="Email" method="post">
            <input class="form-control m-2" name="Email" type="email" placeholder="Email Address" required />
            <button class="btn-lg m-2 mt-3" type="submit">Reset Password</button>
            <p>Remember your password? <a asp-action="Login">Log in</a></p>
        </form>
    </div>
</div>