@model MiniSwitch.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/auth.css" />

<div class="centerize">
    <div class="m-auto text-center col-md-5 my-auto">
        <h1>Log In</h1>
        <p>Enter your Login details</p>
        <p class="text-danger">@ViewBag.ErrorMsg</p>
        <form asp-controller="Auth" asp-action="Login" method="post">
            <input class="form-control m-2" asp-for="Email" type="email" placeholder="Email Address" required />
            <input class="form-control m-2" asp-for="Password" type="password" placeholder="Password" required />
            <button class="btn-lg m-2 mt-3" type="submit">Log In</button>
            <div class="">
                <a class="text-left mr-5" asp-action="ForgotPassword">Forgot Password?</a>
                <a class="text-right ml-5" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</div>